.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wipe-reveal-right {
  overflow: hidden;
  position: relative;
}

.wipe-reveal-right::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
  transition: all 1s linear;
}

.wipe-reveal-right.animate::after {
  transform: translateX(100%);
}

.fade-disappear-up {
  transition: all 3s ease-in;
}

.fade-disappear-up.animate {
  transform: translateY(-100%);
  opacity: 0;
}
